# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# git
/.git
/.github
/.gitlab

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/.next

# env
!.env.sample
.env*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# storybook
!.storybook

# others
.eslintrc.cjs
.lintstagedrc.cjs
.prettierrc.js